# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/Learn4Fun/config/applicationhost.config
/.vs/Learn4Fun/FileContentIndex
/Backend/Web/.vs
/Backend/Web/Data.Service/bin/Debug/net6.0
/Backend/Web/Data.Service/obj/Debug/net6.0
/Backend/Web/Data.Service/obj/Release/net6.0
/Backend/Web/Data.Service/obj
/Backend/Web/DataAccessBase/bin/Debug/net6.0
/Backend/Web/DataAccessBase/obj
/Backend/Web/Services/bin/Debug/net6.0
/Backend/Web/Services/obj
/Backend/Web/Web/bin/Debug/net6.0
/Backend/Web/Web/obj
/Client/public
/.vs
/Backend/Web/Course.Service/bin/Debug/net6.0
/Backend/Web/Course.Service/obj
/Web/obj/Release/net6.0
/Web/obj
/Web/bin/Debug/net6.0
/Client/obj
/Client/bin
/BLL.Course.Service/bin/Debug/net6.0
/BLL.Course.Service/obj
/MongoBase/bin/Debug/net6.0
/MongoBase/obj
