$mb_sidebar_width: 100px;
$desktop_sidebar_width: 300px;
$bm_icon_position_sidebar_close: 40px;
$bm_icon_position_sidebar_open: 240px;

@import "colors.scss";
@import "breakpoins.scss";


.bm_button {
  position: fixed;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  left: $bm_icon_position_sidebar_open;
  top: 15px;
  z-index: 1000;
  transition: 0.5s;
  svg {
    fill: $orange_font;
  }

  @include sm {
    top: 5px;
    left: 5px;
  }
  @include md {
    left: 180px;
  }

  @include lg {
    left: 0px;
    margin-left: 24%;
  }

  @include xl {
    left: 0px;
    margin-left: 15%;
  }
  
}

.bm_button_sidebar_close {
  position: fixed;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  left: $bm_icon_position_sidebar_close;
  top: 15px;
  z-index: 1000;
  transition: 0.75s;

  @include sm {
    top: 5px;
    left: 5px;
    z-index: 1000;
  }
}

.side_bar_close :nth-child(1) { 
  display: none; 
  transition: 0.75s;
}

.bm_button:active {
  box-shadow: 0 0 5px 0 rgba(5, 5, 5, 0.6);
}

.side_bar_open {
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  @include sm{
    width: 100%;
    position: flex !important;
  }

  @include md{
    width: 30%;
  }

  @include lg {
    width: 30%;
  }

  @include xl {
    width: 20%;
  }
}

.side_bar_close {
  width: 0px;
  position: fixed;
}


.link_container {
  display: inline-block;
  text-align: left;
  margin-top: 30%;
  width: 100%;

  ul{
    list-style-type: none;
    padding: 0;
  }

  @include sm {
    margin-top: 5%;
  }

  @include md {
    margin-top: 10%;
  }

  @include lg {
    margin-top: 15%;

  }
}

.nav_link {
  display: block;
  color: $orange_font;
  text-decoration: none;
  transition: 1s;
  

  li{
    background-color: $black;
    width: 100%;
    border: 1px;
    padding-top: 10%;
    padding-bottom: 10%;
    align-items: center;
    transition: 1s;
    text-align: center;
    
  }

  li:hover {
    background-color: rgb(46, 45, 45);
    color: white;
  }
}

.logo_container {
  margin-right: 5px;
  display: flex;
}

.company_logo {
  margin-top: 20%;
  width: 60%;
  margin: auto;

  @include sm{
    width: 60%;
    margin-right: 10%;
    margin-left: 13%;
  }
}


.link_wrapper {
  width: 80%;
  display: flex;
  margin-left: auto;
}


.link_font {
  @include sm {
    font-size: 5vw;
  }

  @include md {
    font-size: 2.5vw;
  }

  @include lg {
    font-size: 2.2vw;
  }

  @include xl {
    font-size: 1.5vw;
    
  }
}