@import "breakpoins.scss";


body {
  background-color: #ffffff;
}

.nav{
  width: 100%;
  margin-left: 0%;
  height: 100%;
  transition: 500ms;
  margin-top: 0%;
}

.nav_active {
  position: fixed;
  width: 80%;
  margin-left: 20%;
  height: 100%;
  transition: 500ms;
  margin-top: 0%;
  margin-right: 20%;

  @include sm {
    margin-left: 0%;
    width: 100%;

  }

  @include md {
    width: 80%;
  }

  @include lg {
    width: 70%;
    margin-left: 30%;
  }
  @include xl {
    width: 80%;
    margin-left: 20%;
  }


}

