@import "colors.scss";


.banner {
  width: 100%;
  background: $banner-background-color;
  background-image: $banner-background-image;

}


.text_container {
  height: auto;
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0 auto;
  
}


.header_text {

}